* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 100vh;
}

.book-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(248, 246, 246);
  height: 200px;
}

.book {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  column-gap: 1px;
}

.category {
  font-size: 20px;
  color: gray;
}

.author {
  color: blue;
}

.inner-dev {
  display: flex;
  color: blue;
  flex-direction: row;
  column-gap: 5px;
  margin-bottom: 30px;
}

.per {
  display: flex;
  flex-direction: row;
  column-gap: 90px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.per svg {
  height: 70px;
}

button {
  color: blue;
  border-radius: 5px;
  border: 3px solid blue;
}
